.btn-margin {
    margin-right: 10px;
}
.btn {
    height: 42px;
    border: 1px solid transparent;
    padding: 8px 16px;
    line-height: 24px;
    border-radius: 2px;
    transition: all 0.24s ease;
}
/* margin-top: 20px;
  width: 90px; */
.btn-primary {
    color: #fff;
    background-color: #1fc063;
    border-color: #1fc063;
}
.btn-primary:focus,
.btn-primary:hover {
    background-color: #1e9651;
}

.btn-default {
    color: #393d45;
    background-color: #fff;
    border-color: #dcdee2;
}
.btn-default:focus,
.btn-default:hover {
    background-color: #f6f7f8;
}

.form-cell {
    /* height: 50px; */
    /*width: 300px;*/
    /*padding: 5px 10px;*/
    padding-top: 5px;
}
.form-label {
    color: #7c8088;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
}
.form-input {
    width: 100%;
    height: 42px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 24px;

    color: #393d45;
    background-color: #fff;

    border: 1px solid #dcdee2;
    border-radius: 2px;
    transition: border-color 0.24s ease, box-shadow 0.24s ease;
}
.from-input:focus {
    border: solid 1px #1fc063;
}
.from-input[disabled] {
    cursor: not-allowed;
    background-color: #f6f7f8;
    opacity: 1;
}


.url-link {
    color: #0287ac;
}

/* /// */

.x-form-shadow {
    box-shadow: 0 0 14px rgba(0,0,0,.08);
    border-radius: 4px;
}
.x-form {
    padding: 24px;
    background-color: #fff;
}
.x-form-label {
    padding: 10px 0;
}
.x-form-msg-danger {
    background-color: #fdeeef;
    color: #be0f1a;
    text-align: center;
    padding: 16px;
    border-radius: 2px;
    border: 1px solid #fbe0e2;
}
.x-form-btn-row {
    display: flex;
}
.x-form-btn-row-input {
    flex-grow: 1;
    width: auto;
}


