.x-avatar
  color $--avatar-color
  background-color $--avatar-background-color
  font-size $--avatar-font-size
  font-weight $--avatar-font-weight
  display block;
  //justify-content center;
  //align-items center;
  //flex-wrap nowrap;
  overflow hidden;
  border-radius: 50%;
  text-align: center;


