.x-box,
.x-box-shadow
  box-shadow $--box-shadow-primary

.x-box,
.x-box-border
  border-radius $--box-border-radius
  border 1px solid $--box-border-color

.x-box-center
  position absolute;
  left 50%;
  top 50%;
  transform: translate(-50%, -50%);

.x-box-content-bottom-divider
  border-bottom 1px solid #efefef

.x-box-top-center
  margin 150px auto 100px
