.x-flex-wrap-x_start-y_start
.x-flex-wrap-x_start-y_center
.x-flex-x_start-y_start
.x-flex-x_start-y_center
  display flex
  flex-direction row
  flex-wrap nowrap
  justify-content flex-start

.x-flex-x_start-y_start
  align-items flex-start

.x-flex-x_start-y_center
  align-items center

.x-flex-wrap-x_start-y_start
.x-flex-wrap-x_start-y_center
  flex-wrap wrap

.x-flex-item-grow
  flex-grow 1

.x-flex-item-shrink0
  flex-shrink 0

.x-flex-col-x_start-y_center
.x-flex-col-x_start-y_start
  display flex
  flex-direction column
  flex-wrap nowrap
  justify-content flex-start

.x-flex-col-x_start-y_center
  align-items center

