.x-radius-none
  border-radius 0

.x-radius-right-none
  border-bottom-right-radius 0
  border-top-right-radius 0

.x-radius-left-none
  border-bottom-left-radius 0
  border-top-left-radius 0

.x-radius-top-none
  border-top-left-radius 0
  border-top-right-radius 0

.x-radius-bottom-none
  border-bottom-left-radius 0
  border-bottom-right-radius 0
